@import "./constants.css";

a {
  text-decoration: none;
  color: var(--clr-gray);
  margin-right: auto;
  font-size: 18px;
}

a:hover {
    color: var(--clr-black);
}

.logo {
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--clr-black);
}

.Menu:hover {
  cursor: pointer;
}

.MenuIcon {
  display: grid;
  align-items: center;
}

header {
  display: flex;
  padding: 10px;
}

.test::after {
  content: url(/src/assets/images/icon-arrow-down.svg);
}

.test:hover::after {
  content: url(/src/assets/images/icon-arrow-up.svg);
}

nav {
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 50vw;
  padding: 10px;
  padding-top: 20px;
  background-color: white;
  display: none;
  flex-direction: column;
}

.darkLayer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.669);
    min-height: 100vh;
    min-width: 100vw;
    display: none;
}

.closeMenu {
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1.5rem;
    aspect-ratio: 1/1;
    display: grid;
    align-items: center;
}

ul {
  list-style: none;
}

.mainNav {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.featSubNav {
  display: none;
  padding-left: 20px;
}

.featItem {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.item {
    padding: 10px;
    
}

.featItem > img {
    aspect-ratio: 1/1;
    width: 17px;
}

.featItem:hover {
    cursor: pointer;
}


.compSubNav {
  display: none;
  padding-left: 20px;
}


.arrow {
    margin-left: 10px;
    transition: transform .5s;
}

.arrowAnimation {
    transform: rotate(900deg);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

.buttons > button {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid var(--clr-gray);
    cursor: pointer;
    color: var(--clr-gray);
    
}

.buttons > button:hover {
    color: black;
    border-color: var(--clr-black);
}

.loginButton {
    border: none !important;
}



/* * {
  border: 1px dotted rgb(191, 191, 191)
} */

@media (min-width: 800px) {
  .Menu {
    display: none;
  }

  .darkLayer {
    display: none;
  }

  .closeMenu {
    display: none;
  }

  nav, .mobileMenu {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
    position: static;
    padding: 0 10px;
  }

  header {
    width: 100vw;
  }

  .mainNav {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    width: 100%;
    margin-left: 2rem;
  }

  .buttons {
    display: block;
    margin-left: auto;
  }

  .logo {
    margin-right: 0;
  }

  .feat, .comp {
    position: relative;
  }

  .featSubNav, .compSubNav {
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
  }

  .featSubNav {
    right: 0;
  }
}
